.MovieMusicCard {
  position: relative;
}

.MovieMusicCard__cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &::after {
    content: '';
    background: rgba(#000, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.MovieMusicCard__content {
  z-index: 2;
}

.MovieMusicCard__poster {
  
}

.MovieMusicCard__poster__image {
  height: 100%;
  width: 100%;
}