.MovieMusicCard {
  position: relative;
}

.MovieMusicCard__cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &::after {
    content: '';
    background: rgba(#000, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.MovieMusicCard__content {
  z-index: 2;
}

.MovieMusicCard__poster__image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
  width: 100%;
}

.MovieCard {
  &__poster {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
    width: 300px;
    // flex: none;
  }

  &__content {
    flex: 1;
    padding: 12px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 900px) {
  .MovieCard {
    &__poster {
      width: 100%;
    }
  }
}