.MovieMusicCard {
  position: relative;
}

.MovieMusicCard__cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &::after {
    content: '';
    background: rgba(#000, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.MovieMusicCard__content {
  z-index: 2;
}

.MovieMusicCard__poster__image {
  height: 100%;
  width: 100%;
}

.MovieCard {
  &__poster {
    margin: 0;
    width: 300px;
  }

  &__content {
    flex: 1;
    padding: 12px;
    padding-right: 24px;
  }

  &--small {
    .MovieCard__poster {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .MovieCard {
    &__poster {
      width: 100%;
    }
  }
}
