.ConfirmEmail {
  &__content {
    max-width: 400px;
    margin: 60px auto !important;
  }

  &__subcontent {
    max-width: 400px;
    margin: 24px auto !important;
  }

  &__texticon {
    transform: translateY(6px);
  }
}

.NewGame__timer {
  margin-bottom: 24px;
}

.MovieCard {
  position: relative;

  &--exist {
    &::before {
      background: #000;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.9;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__info {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 2;
  }
}

.HomePage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('../assets/images/cinema.png');
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;

  &__illustration {
    height: 100vh;
    object-fit: contain;
    opacity: 0.2;
    width: 100%;
  }

  &__button {
    background: #000 !important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(1) translate(-50%, -50%);
    transition: all 0.15s ease-in-out !important;

    &:hover {
      background: #101010 !important;
      transform: scale(1.1) translate(-50%, -50%);
    }
  }
}

.PrivacyPage {
  h3 {
    padding-top: 120px;
    margin-top: -80px;
  }
}
