.Header__logo {
  align-items: center;
  cursor: pointer;
  height: 40px;
  margin-right: 24px;
  transform: translateY(4px);
}

.Header__volume {
  margin-right: 16px;
  width: 160px;
}

@media screen and (max-width: 600px) {
  .Header__logo {
    height: 16px;
  }

  .Header__volume {
    width: 140px;
  }
}