.Header__logo {
  align-items: center;
  cursor: pointer;
  height: 28px;
  margin-right: 24px;
  transform: translateY(4px);
}

.Header__volume {
  margin: 0 8px;
  width: 160px;
}

.Header__button {
  &.active {
    color: red;
  }
}

.Header__nav_mobile {
  a {
    text-decoration: none;
  }

  a .MuiSvgIcon-root {
    margin-right: 16px;  
    transform: translateY(6px);
  }
}

.Header__nav_desktop {
  .MuiSvgIcon-root {
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 600px) {
  .Header__logo {
    height: 16px;
  }

  .Header__volume {
    width: 140px;
  }
}