.LoginPage {
  &__cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.6);
    }
  }

  &__logo {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .LoginPage__logo {
    display: none;
  }
}