.Input--shaking {
  animation-name: shaking;
  animation-duration: 0.05s;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

@keyframes shaking {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}

@media screen and (max-width: 600px) {
  .SendMusic__button {
    display: block !important;
    margin-left: 0 !important;
    margin-top: 16px !important;
    width: 100%;
  }
}